<h1>Meus Pedidos</h1>

<% @orders.each do |order| %>
  <div>
    <p>Código do Pedido: <%= link_to order.code, order_path(order) %></p>
    <p>Galpão Destino: <%= order.warehouse.name %></p>
    <p>Data Prevista: <%= order.estimated_delivery_date.strftime('%d/%m/%Y') %></p>
    <p>Fornecedor: <%= order.supplier.corporate_name %></p>
    <p>Usuário Responsável: <%= order.user.name %></p>
    <p>Status: <%= t(order.status) %></p>
  </div>
<% end %>